

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <form asp-controller="Account" asp-action="ForgotPassword">

                <div class="card-body">
                    <h5 class="card-title">فراموشی رمز عبور</h5>
                    <input type="text" placeholder="آدرس ایمیل" class="form-control m-3" style="width: 50%"/>
                    <a class="btn btn-primary m-3" asp-controller="Account" asp-action="ForgotPasswordConfirmation">ارسال</a>
                </div>
            </form>
        </div>
    </div>
</div>
