@model ForgotPasswordViewModel

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post">

                <div class="card-body">
                    <h5 class="card-title">فراموشی رمز عبور</h5>
                    <input type="text" asp-for="Email" placeholder="آدرس ایمیل" class="form-control m-3" style="width: 50%"/>
                    <button type="submit" class="btn btn-primary m-3">ارسال</button>
                </div>
            </form>
        </div>
    </div>
</div>
