@model LoginViewModels

<h1 class="text-secondary">Login</h1>


<form asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="m-lg-5">
    <div class="form-group col-md-3 mt-5">
        <label asp-for="Email">آدرس ایمیل</label>
        <input type="text" asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="form-text text-danger"></span>
    </div>
    <div class="form-group col-md-3 mt-2">
        <label asp-for="Password">رمز عبور</label>
        <input type="password" asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="form-text text-danger"></span>
    </div>


    <div class="form-check m-3">
        <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" asp-for="RememberMe">مرا بخاطر بسپار</label>
    </div>
    
    <div class="card-link m-3">
        <a class="link-primary text-decoration-none" asp-controller="Account" asp-action="ForgotPassword">رمز عبور خود را فراموش کرده اید؟</a>
    </div>
    
    <div class="card-link m-3">
        <a class="link-primary text-decoration-none" asp-controller="Account" asp-action="Register">ایجاد حساب کاربری</a>
    </div>

    <button type="submit" class="btn btn-primary">ورود</button>

   
</form>