@model ResetPasswordViewModels


<form asp-controller="Account" asp-action="ResetPassword" method="post">

    <input type="hidden" value="@Model.Code" name="code" />

    <div class="form-group">
        <label asp-for="Email">آدرس ایمیل:</label>
        <input type="text" class="form-control" asp-for="Email">
        <span class="form-text text-muted" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">رمز عبور:</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword">تکرار رمز عبور:</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword">
    </div>

    <button type="submit" class="btn btn-primary">بازیابی کلمه عبور</button>
</form>