@using Microsoft.AspNetCore.Identity
@using IdentityServer4.Entity
@inject SignInManager<IdentityUser> SignInManager;
@inject UserManager<IdentityUser> UserManager;

<ul class="navbar-nav m-2">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Home" asp-action="Index"> @UserManager.GetUserName(User) کاربر</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" asp-controller="Account" asp-action="LogOut">خروج</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }

</ul>